.long-line {
  display: flex;
  //flex-wrap: wrap;
  //gap: 10px;

  @media (max-width: 1100px) {
    flex-wrap: nowrap;
    gap: 0;
  }

  &__item {
    flex: 1 1 auto;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    padding: 8px 21px;
    white-space: nowrap;
    cursor: pointer;

    &--active {
      background: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px;

    }
  }
}
